<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Login</title>
</head> 
<body>
    <h2>Welcome to Rust Search Engine</h2>
    <h1>Login</h1>
    <a href="/register">Register</a> <br/>
    <form method="POST" action="/login">
        <div id="form-group"><label>Username:</label><input class="form-control" name="username" type="text" /></div>
        <div id="form-group"><label>Password:</label><input class="form-control" name="password" type="password" /></div><br />
        <input class="btn btn-primary" type="submit" value="submit" />
    </form>
</body>
</html>