<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Window</title>
</head>
<body>
    <h2>Welcome to Rust Search Engine!</h2>
    <h1>Search</h1>
    <a href="/logout">Logout</a>
    <a href="/submit_index">Index</a>
    <form method="POST" action="/search">
        <div id="form-group"><label>Search:</label><input class="form-control" name="query_terms" type="text" /></div>
        <input class="btn btn-primary" type="submit" value="submit" />
    </form>
</body>
</html>